
.container{
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* background: #000; */
  overflow: hidden;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* .content h1 {
    font-size: 12rem;
    font-size: 12vw;
  text-align: center;
  font-family: 'BodoniModa';
   font-family: "Bodoni Moda", sans-serif;
   z-index: 1;
   letter-spacing: 1.5rem;
} */
/* .topText,.bottomText{
  color: transparent;
  -webkit-text-stroke: 0.8px #707070; 
  text-align: center;
  margin: 0.5rem;
} */

.content img{
  width: 100%;
}
/* .middleText img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}
.topText img{
  position: absolute;
  top: 14%;
  top: 5rem;
  left: 0;
}
.bottomText img{
  position: absolute;
  bottom: 14%;
  bottom: 5rem;
  left: 0;
} */

.topText img{
  position: relative;
  top: 45%;
}
.bottomText img{
  position: relative;
  bottom: 45%;
}
.container h2{
  display: flex;

position: absolute;
  font-size: 3.5rem;
  color: var(--gold);
  font-family: 'Bodoni-bk'; 
  letter-spacing:3px;
  cursor: pointer;
  bottom: 6%;
  right: 0%;
}
.quartzitStone{
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-94%,-10%);
  z-index: 2;
}
.quartzitStone img{
  z-index: 1;
  width: 60%;
}


@media(max-width:600px){
  .container{
    height: 60vh;
    width: 96%;
    /* background: #6c6c6c; */
  }
  .quartzitStone{
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-94%,-10%);
  z-index: 2;
}
.quartzitStone img{
  z-index: 1;
  width: 50%;
}
.container h2{
  display: flex;

position: absolute;
  font-size: 2rem;
  color: var(--gold);
  font-family: 'Bodoni-bk'; 
  letter-spacing:3px;
  cursor: pointer;
  bottom: 10%;
  right: 0%;
}

}
@media(max-width:450px){
  .container h2{
  font-size: 1.5rem;
  bottom: 17%;
  right: 0%;
}
}