.header {
  width: 100%;
  position: fixed;
  right: 0%;
  font-family: "GFS Didot", serif;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-style: normal;
  padding: 14px;
  /* padding-top: 36px; */
  padding-right: 60px;
  padding-bottom: 4px;
  padding-top: 8px;
  z-index: 10;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  /* Semi-transparent white */
  backdrop-filter: blur(5px);
  /* Glassy effect */
  -webkit-backdrop-filter: blur(5px);
  /* For Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional: subtle shadow */
}

.hide {
  transform: translateY(-100%);
  /* Move the navbar out of view when hidden */
}

.logo img {
  width: 60px;
}


.nav {
  display: flex;
  gap: 80px;
  /* justify-content: end; */
}

.nav a {
  text-decoration: none;
  color: black;
  /* Default link color */
  cursor: pointer;
  font-size: 17.5px;
  font-weight: normal;
}

.nav a.active {
  color: var(--gold);
  /* Active link color */
  font-weight: bold;
}

.medianav {
  display: none;
}

@media(max-width:800px) {
  .header {
    display: none;
  }

  .medianav img {
    width: 80px;
    padding: 14px;
    position: absolute;
    z-index: 10;
  }

  .medianav {
    display: flex;
  }
}