.container {
  font-family: 'lemon-light';
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: white;
  transition: background-color 0.5s ease, background 0.5s ease;
  position: relative;
}

.welcomeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.welcomeHeader img {
  width: 45%;
  /* max-width: 600px; */
}

.container h1 {
  font-size: 6.2vw;
  padding: 20px 0;
  /* padding-left: 80px; */
  font-weight: bold;
  font-family: 'lemon-regular';
}

.content {
  display: flex;
  width: 85%;
  margin: auto;
  gap: 3%;
  position: static;
}

.content div {
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.content div img {
  width: 100%;
  transition: filter 0.3s ease;
}

.content div img {
  filter: brightness(0.7);

}


.agroImg span {
  font-size: 6vw;
  letter-spacing: 1vw;
  text-align: center;
  font-family: 'lemon-regular';
  color: #fff;


}


.industrialImg span {
  font-size: 5.3vw;
  font-weight: bolder;
  letter-spacing: 0.5vw;
  text-align: center;
  font-family: 'lemon-regular';
  color: #fff;


}

.container.agro {
  background: var(--lightGreen);
  background: linear-gradient(180deg, var(--lightGreen) 0%, var(--darkGreen) 100%);
  color: white;
  transition: background 0.5s ease;
}

.container.industrial {
  background: var(--lightGrey);
  background: linear-gradient(180deg, var(--lightGrey) 0%, var(--darkGrey) 100%);
  color: white;
  transition: background 0.5s ease;

}

.contentInfo h2,
.contentInfo p,
.container h1 {
  transition: color 0.3s ease;
}

.container.agro h1,
.container.agro .contentInfo h2,
.container.agro .contentInfo p,
.container.industrial h1,
.container.industrial .contentInfo h2,
.container.industrial .contentInfo p {
  color: white;
  /* Text color change */
}

.contentInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5%;
  gap: 35px;
  margin-bottom: 10%;
  height: 20%;
  padding: 0 10px;
}

.contentInfo h2 {
  font-weight: normal;
  font-size: 32px;
}

.contentInfo p {
  font-family: 'lemon-regular';
  font-size: 20px;

}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: black;
}


.agroContent {
  gap: 15px;
  margin-top: 1%;
}

.industrialContent {
  gap: 15px;
  margin-top: 1%;

}

.agroContent p {
  font-family: 'lemon-light';
  font-size: 14.5px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-transform: none !important;
}

.industrialContent p {
  font-family: 'lemon-light';
  font-size: 14.5px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-transform: capitalize !important;
}

.agroContent h2,
.industrialContent h2 {
  font-weight: normal;
  font-size: 28px;
  text-transform: capitalize !important;
}

.overlayText {
  transition: transform 0.3s ease;
  opacity: 0.85;
}

.scaleText {
  transform: scale(1.1);
  opacity: 1;
  /* Adjust scale as needed */
}


@media(max-width:800px) {
  .container {
    min-height: 100vh;
  }

  .container h1 {
    /* font-size: 4rem; */
  }

  .content {
    width: 96%;
    gap: 2%;

  }
}

@media(max-width:600px) {
  .welcomeHeader {
    flex-direction: column;
    margin-bottom: 20px;
    gap: 0;
    justify-content: center;
    line-height: 1;
  }

  .welcomeHeader img {
    width: 94%;
  }

  .container h1 {
    font-size: 3rem;
    margin: 20px 0;
    padding: 0;
    text-align: center;
  }

  .content {
    width: 96%;
    gap: 10px;
    flex-direction: column;

  }


  .contentInfo h2 {
    font-weight: normal;
    font-size: 26px;
  }

  .contentInfo p {
    font-family: 'lemon-regular';
    font-size: 17px;
  }

  .agroImg span {
    font-size: 15vw;
    letter-spacing: 1vw;
    text-align: center;
    font-family: 'lemon-regular';
    color: #fff;


  }

  .industrialImg span {
    font-size: 13vw;
    font-weight: bolder;
    letter-spacing: 0.5vw;
    text-align: center;
    font-family: 'lemon-regular';
    color: #fff;


  }

  .content div {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .content div img {
    width: 97%;
    transition: filter 0.3s ease;
  }

  .content div img {
    filter: brightness(0.7);

  }
}


.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  transform-origin: center;
  /* Ensures scaling happens from the center */
}

.agroImg:hover .overlayText,
.industrialImg:hover .overlayText {
  transform: translate(-50%, -50%) scale(1.1);
  /* Scales without shifting */
}