.container {
  width: 94%;
  margin: auto;
  font-family: "GFS Didot", system-ui;

}

.footer {
  background: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px 40px;
  padding-right: 80px;
}

.footer .contact {
  /* width: 100%; */
  display: flex;
  gap: 13vw;

}

.contact p {
  font-size: 20px;
  cursor: pointer;
}

.footer .social {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.social img {
  width: 40px;
  cursor: pointer;
}

.footer button {
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 50px;
  border: 0;
  background: var(--green);
  color: #fff;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 26px 5px;
  color: rgba(0, 0, 0, 0.75);
}

.copyright a {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.5);
}

@media(max-width:1200px) {
  .footer {
    padding: 20px;
  }
}

@media(max-width:1000px) {
  .container {
    width: 94%;
    margin: auto;
    font-family: "GFS Didot", system-ui;

  }

  .footer .social {
    gap: 5vw;
  }

  .footer .contact {
    /* width: 100%; */
    display: flex;
    gap: 5vw;

  }
}

@media(max-width:800px) {
  .footer {
    padding: 40px;
    flex-direction: column;
    gap: 50px;
  }

  .footer .social {
    gap: 50px;
  }

  .footer .contact {
    /* width: 100%; */
    display: flex;
    gap: 40px;

  }

  .copyright {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 8px;
    color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
  }

  .copyright p {
    font-size: 14px;
    text-align: center;

  }

  .copyright p:last-child {}
}



.hoverContent {
  position: relative;
}


/* Add the large arrow at the bottom left corner */
.hoverContent div::after {
  content: "";
  position: absolute;
  bottom: -13px;
  /* Adjust the position for the larger arrow */
  left: 10px;
  /* Position the arrow at the bottom left */
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid white;
  /* Match the hover box background */
}


.hoverContent {
  position: relative;
}

.hoverContent div {
  display: none;
  position: absolute;
  top: -94px;
  left: 13px;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* white-space: nowrap; */
  z-index: 1;
  /* max-width: 250px; */
  font-size: 16px;
  line-height: 1.5;
  width: 370px;
}

/* Show content on hover */
.hoverContent:hover div {
  display: block;
}

.phone div {
  width: 230px;
}

.email div {
  width: 260px;
  top: -70px;
  left: 5px;
}

@media(max-width:600px) {
  .infoBox span {
    font-size: 14px;
  }

  .hoverContent div {
    padding: 10px;
    width: 330px;
  }

  .address div {
    left: -35px;
    top: -85px;
  }

  .address div::after {
    left: 55px;
  }

  .phone div {
    padding: 10px;
    left: -70px;
    width: 180px;
    top: -84px;
  }

  .phone div:after {
    left: 80px;

  }

  .email div {
    left: -120px;
    width: 230px;
    top: -60px;
  }

  .email div::after {
    left: 135px;
  }
}